/* your styles go here */

#pag1 {
  text-align: center;
  background: url('../img/macbook-juice.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
}
#pag1 h1,
#pag1 h2,
#pag1 h3 {
  color: #fff;
}
#pag1 p {
  font-size: 20px;
}
#pag1 .icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 2px #fff;
  border-radius: 20px;
  z-index: 3;
}

.btnLang{
	width: 64px;
	height: 48px;
	border-radius: 100%;
    border: 0;
	background: transparent;
	text-decoration: none;
}

.btnLang img{
	width: 64px;
	height: 48px;
	border-radius: 100%;
	border: 0;
}

div.box.btn{
	display: block;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
 background: #ff9966;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}